html,
body,
#root {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;

    color: var(--font-color);
    background-color: var(--background-color-secondary);

    transition: color ease 1s, background-color ease 1s;
}

div {
    box-sizing: border-box;
}
